In [ ]:
import pprint

def p(v):
  pprint.pprint(v)

1. Faça o teste de mesa no algoritmo a seguir:

ALGORITMO TABUADA_9;

VAR

  N, X, R : INTEIRO;

INICIO

  PARA X DE 1 ATE 10 FACA

  INICIO

    R ← 9 * X;

    ESCREVER ( X, ‘ x 9 = ’, R);

  FIM;

  FIM_PARA;

FIM.

In [ ]:
for i in range(1,11):
  print(i,"x 9 =",i*9)

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

2. Faça um programa em Python que mostre todos os números inteiros ímpares situados na faixa de 1000 a 1500.

In [ ]:
for i in range(1001,1500,2):
  print(i)

1001
1003
1005
1007
1009
1011
1013
1015
1017
1019
1021
1023
1025
1027
1029
1031
1033
1035
1037
1039
1041
1043
1045
1047
1049
1051
1053
1055
1057
1059
1061
1063
1065
1067
1069
1071
1073
1075
1077
1079
1081
1083
1085
1087
1089
1091
1093
1095
1097
1099
1101
1103
1105
1107
1109
1111
1113
1115
1117
1119
1121
1123
1125
1127
1129
1131
1133
1135
1137
1139
1141
1143
1145
1147
1149
1151
1153
1155
1157
1159
1161
1163
1165
1167
1169
1171
1173
1175
1177
1179
1181
1183
1185
1187
1189
1191
1193
1195
1197
1199
1201
1203
1205
1207
1209
1211
1213
1215
1217
1219
1221
1223
1225
1227
1229
1231
1233
1235
1237
1239
1241
1243
1245
1247
1249
1251
1253
1255
1257
1259
1261
1263
1265
1267
1269
1271
1273
1275
1277
1279
1281
1283
1285
1287
1289
1291
1293
1295
1297
1299
1301
1303
1305
1307
1309
1311
1313
1315
1317
1319
1321
1323
1325
1327
1329
1331
1333
1335
1337
1339
1341
1343
1345
1347
1349
1351
1353
1355
1357
1359
1361
1363
1365
1367
1369
1371
1373
1375
1377
1379
1381
1383
1385
1387
1389
1391
1393
1395
1397
1399
1401
1403
1405
1407
1409
1411
1413
1415
1417
1419
1421
1423
1425
1427
1429
1431
1433
1435
1437
1439
1441
1443
1445
1447
1449
1451
1453
1455
1457
1459
1461
1463
1465
1467
1469
1471
1473
1475
1477
1479
1481
1483
1485
1487
1489
1491
1493
1495
1497
1499

3. Elabore um programa em Python que calcule e escreva a soma de 10 números lidos.

In [ ]:
x = 0
11
1
for i in range(1,11):
  x += float(input("Insira o "+str(i)+"º numero: "))

p(f"O Valor da soma é:{x}")

Insira o 1º numero: 1
Insira o 2º numero: 1
Insira o 3º numero: 1
Insira o 4º numero: 1
Insira o 5º numero: 1
Insira o 6º numero: 1
Insira o 7º numero: 1
Insira o 8º numero: 1
Insira o 9º numero: 1
Insira o 10º numero: 1
'O Valor da soma é:10.0'

4. Faça um programa em Python que leia a nota de 10 alunos de uma turma. Ao final, deve ser escrita a média geral da turma.

In [ ]:
x =0
for i in range(1,11):
  x += float(input(f"Insira a nota do {i}º aluno: "))

p(f"A média dos 10 alunos é {x/10}")

Insira a nota do 1º aluno: 5
Insira a nota do 2º aluno: 5
Insira a nota do 3º aluno: 5
Insira a nota do 4º aluno: 5
Insira a nota do 5º aluno: 5
Insira a nota do 6º aluno: 5
Insira a nota do 7º aluno: 5
Insira a nota do 8º aluno: 5
Insira a nota do 9º aluno: 5
Insira a nota do 10º aluno: 5
'A média dos 10 alunos é 5.0'

5. Faça um programa em Python que leia 5 números. Para cada número fornecido, escreva se ele é NULO, NEGATIVO ou POSITIVO.

In [ ]:
for i in range(5):
  x = float(input("Insira um numero: "))
  if x > 0:
    print("Numero positivo")
  elif x ==0:
    print("Numero neutro")
  else:
    print("Numero negativo")

6. Ler dois valores inteiros e escrever os números em sequência do menor até maior valor.

In [ ]:
x = int(input("Insira um numero: "))
y = int(input("Insira outro numero: "))

if x > y:
  for i in range(y,x+1):
    print(i)
else:
  for i in range(x,y+1):
    print(i)

Insira um numero10
Insira outro numero100
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

7. Faça um programa em Python que escreva os números pares entre 100 e 200.

In [ ]:
for i in range(100,201,2):
  print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

8. Escrever um programa em Python que leia um valor para n, inteiro e positivo, e escreva a tabuada de n. Com os respectivos valores.

n x 1 =

n x 2 =

...

n x 10 =

In [ ]:
x = int(input("Insira um numero para fazer a tabuada: "))
for i in range(1,11):
  print(f"{x} x {i} = {x*i}")

Insira um numero para fazer a tabuada: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

9. Escrever um programa em Python que gera os números de 1000 a 1999 e escreve aqueles que divididos por 11 dão um resto igual a 5.

In [ ]:
for i in range(1000,2000):
  if i%11==5:
    print(i)

1006
1017
1028
1039
1050
1061
1072
1083
1094
1105
1116
1127
1138
1149
1160
1171
1182
1193
1204
1215
1226
1237
1248
1259
1270
1281
1292
1303
1314
1325
1336
1347
1358
1369
1380
1391
1402
1413
1424
1435
1446
1457
1468
1479
1490
1501
1512
1523
1534
1545
1556
1567
1578
1589
1600
1611
1622
1633
1644
1655
1666
1677
1688
1699
1710
1721
1732
1743
1754
1765
1776
1787
1798
1809
1820
1831
1842
1853
1864
1875
1886
1897
1908
1919
1930
1941
1952
1963
1974
1985
1996

10. Faça um programa em Python que leia um número qualquer (N), e realize a soma dos números de 1 até N. Ao final, deve-se escrever o resultado.

In [ ]:
n = int(input("Insira um numero: "))
x=0
for i in range(n+1):
  x+=i

print(x)

Insira um numero: 10
55

11. Faça um programa em Python para ler 10 valores inteiros. Para cada valor fornecido escreva uma mensagem que indica se cada valor fornecido é PAR ou ÍMPAR.

In [ ]:
for i in range(10):
  x = int(input("Insira um numero"))
  if x%2==0:
    print("O numero é par")
  else:
    print("O numero é impar")

12. Faça um programa em Python que leia a idade de 10 alunos, calcule e escreva a média de idade destes.

In [ ]:
idade = 0

for i in range(10):
  idade+=int(input(f"Insira a idade do {i+1}º aluno"))

13. Faça um algoritmo em Python que leia dois valores inteiros e escreva se eles estão em ordem crescente, decrescente ou são iguais, após isso escreva todos os valores do menor ao maior.

In [ ]:
n1 = int(input("Insira um numero: "))
n2 = int(input("Insira outro numero: "))

if n1>n2:
  print("O primeiro numero é maior")
  print(n2,n1)
elif n1==n2:
  print("Os numeros são iguais")
  print(n1,n2)
else:
  print("O segundo numero é maior")
  print(n1,n2)

Insira um numero: 45
Insira outro numero: 84
O segundo numero é maior
45 84

14. Escrever um programa em Python que lê 10 valores para n, um de cada vez, todos inteiros e positivos, e para cada n lido, escreva a tabuada de 1 até n de n.

1 x n = n

2 x n = 2n

...

n x n = n2

In [ ]:
for i in range(10):
  x = int(input("Insira um numero: "))
  if x >=0:
    for i in range(1,x+1):
      print(f"{i}x{x}={i*x}")

Insira um numero: 1
1x1=1
Insira um numero: 2
1x2=2
2x2=4
Insira um numero: 3
1x3=3
2x3=6
3x3=9
Insira um numero: 4
1x4=4
2x4=8
3x4=12
4x4=16
Insira um numero: 5
1x5=5
2x5=10
3x5=15
4x5=20
5x5=25
Insira um numero: 6
1x6=6
2x6=12
3x6=18
4x6=24
5x6=30
6x6=36
Insira um numero: 7
1x7=7
2x7=14
3x7=21
4x7=28
5x7=35
6x7=42
7x7=49
Insira um numero: 8
1x8=8
2x8=16
3x8=24
4x8=32
5x8=40
6x8=48
7x8=56
8x8=64
Insira um numero: 9
1x9=9
2x9=18
3x9=27
4x9=36
5x9=45
6x9=54
7x9=63
8x9=72
9x9=81
Insira um numero: 10
1x10=10
2x10=20
3x10=30
4x10=40
5x10=50
6x10=60
7x10=70
8x10=80
9x10=90
10x10=100