<a href="https://colab.research.google.com/github/FelipePFerreira13/PensamentoComputacional/blob/main/5_Lista_de_Exercicios_20250415.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 1 – Array de 5 Nomes
Objetivo:
Ler 5 nomes de pessoas quaisquer.
Exibir todos os nomes do primeiro ao último.
Exemplo de entrada/saída:
Entrada:

Rogério

Amanda

Luiz

Juliana

Carlos

Saída:

Rogério

Amanda

Luiz

Juliana

Carlos

In [2]:
nomes = []
for i in range(5):
  nomes.append(input(f"Insira o {i+1}º nome: "))

for i in range(5):
  print(nomes[i])

Insira o 1º nome: teste
Insira o 2º nome: teste2
Insira o 3º nome: test
Insira o 4º nome: tes
Insira o 5º nome: t
teste
teste2
test
tes
t

Exercício 2 – Lista com Quantidade Informada
Objetivo:
Perguntar ao usuário quantos nomes ele irá informar.
Ler os nomes e exibi-los na mesma ordem.
Exemplo de entrada/saída:
Entrada:

7

Rogério

Amanda

Luiz

Juliana

Carlos

Ana

Armando

Saída:

Rogério

Amanda

Luiz

Juliana

Carlos

Ana

Armando

In [3]:
nomes = []

while True:
  x = int(input("Insira quantos numeros quer colocar: "))
  if(x) <= 0:
    print("insira um numero positivo diferente de zero")
    continue
  break

for i in range(x):
  nomes.append(input(f"Insira o {i+1}º nome: "))

for i in range(x):
  print(nomes[i])

Insira quantos nomes quer colocar: 3
Insira o 1º nome: t1
Insira o 2º nome: t2
Insira o 3º nome: t3
t1
t2
t3

Exercício 3 – Times de Futebol
Objetivo:
Ler uma lista com nomes de times (-quantidade definida pelo usuário).

Exibir: o primeiro time, o time do meio e o último time.

Exemplo 1: (7 times)

Entrada:

Grêmio, Inter, Palmeiras, Fluminense, Botafogo, Aimoré, Flamengo

Saída:

Grêmio (primeiro)

Fluminense (meio)

Flamengo (último)

Exemplo 2: (8 times)

Entrada:

Grêmio, Inter, Palmeiras, Fluminense, Botafogo, Aimoré, Flamengo, Corinthians

Saída:

Grêmio (primeiro)

Fluminense/Botafogo (meio)

Corinthians (último)

In [9]:
nomes = []

x = int(input("Insira quantos nomes quer colocar: "))

for i in range(x):
  nomes.append(input(f"Insira o {i+1}º nome: "))

print(f"{nomes[0]} (primeiro)")
if x%2 ==0 :
  print(f"{nomes[x//2-1]} / {nomes[x//2]} (meio)")
else:
  print(f"{nomes[x//2]} (meio)")
print(f"{nomes[-1]}(último)")

Insira quantos nomes quer colocar: 8
Insira o 1º nome: t1
Insira o 2º nome: t2
Insira o 3º nome: t3
Insira o 4º nome: t4
Insira o 5º nome: t5
Insira o 6º nome: t6
Insira o 7º nome: t7
Insira o 8º nome: t8
t1 (primeiro)
t4 / t5 (meio)
t8(último)

Exercício 4 – Exibir Números (Ordem Normal)
Objetivo:
Ler uma lista de números quaisquer.
Exibir os números do primeiro ao último.

Exemplo de entrada/saída:

Entrada:

7

4

7

2

1

Saída:

7

4

7

2

1

In [19]:
nums = []
while True:
  x = input("Insira um numero (não insira uma letra para sair): ")
  if not(x.isnumeric()):
    break
  nums.append(int(x))

for n in nums:
  print(n)

Insira um numero (insira s para sair): 1
Insira um numero (insira s para sair): 2
Insira um numero (insira s para sair): 3
Insira um numero (insira s para sair): 4
Insira um numero (insira s para sair): 5
1
2
3
4
5

Exercício 5 – Exibir Números (Ordem Inversa)
Objetivo:
Ler uma lista de números.
Exibir os números do último para o primeiro.

Exemplo de entrada/saída:

Entrada:

7

4

7

2

1

8

9

4

11

Saída:

11

4

9

8

1

2

7

4

7

In [28]:
nums = []
c = 0
while True:
  x = input("Insira um numero (não insira uma letra para sair): ")
  if not(x.isnumeric()):
    break
  nums.append(int(x))
  c+=1

for i in range(1,c+1):
  print(nums[i*-1])

Insira um numero (insira s para sair): 1
Insira um numero (insira s para sair): 2
Insira um numero (insira s para sair): 3
Insira um numero (insira s para sair): 4
Insira um numero (insira s para sair): 5
Insira um numero (insira s para sair): 6
Insira um numero (insira s para sair): s
6
5
4
3
2
1

Exercício 6 – Exibir Números Pulando de 2 em 2

Objetivo:

Ler uma lista de números.

Exibir os números do primeiro ao último, pulando de dois em dois.

Exemplo 1:

Entrada:

8

8

3

7

0

2

9

5

2

Saída:

8

7

2

5

Exemplo 2:

Entrada:

9

8

3

7

0

2

9

5

2

8

Saída:

8

7

2

5

8

In [17]:
nums = []
c = 0
while True:
  x = input("Insira um numero (não insira uma letra para sair): ")
  if not(x.isnumeric()):
    break
  nums.append(int(x))
  c+=1

for i in range(0,c-1,3):
  print(nums[i])

Insira um numero (insira s para sair): 1
Insira um numero (insira s para sair): 2
Insira um numero (insira s para sair): 3
Insira um numero (insira s para sair): 4
Insira um numero (insira s para sair): 5
Insira um numero (insira s para sair): 6
Insira um numero (insira s para sair): 7
Insira um numero (insira s para sair): 8
Insira um numero (insira s para sair): 9
Insira um numero (insira s para sair): s
1
4
7

Exercício 7 – Exibir Números Inversos Pulando de 3 em 3

Objetivo:

Ler uma lista de números.

Exibir os números do último para o primeiro, pulando de três em três.

Exemplo 1:

Entrada:

8

8

3

7

0

2

9

5

2

Saída:

2

2

3

Exemplo 2:

Entrada:

9

8

3

7

0

2

9

5

2

8

Saída:

8

9

7

In [32]:
nums = []
c = 0
while True:
  x = input("Insira um numero (não insira uma letra para sair): ")
  if not(x.isnumeric()):
    break
  nums.append(int(x))
  c+=1


for i in range(1,c+1,4):
  print(nums[i*-1])

Insira um numero (insira s para sair): 1
Insira um numero (insira s para sair): 2
Insira um numero (insira s para sair): 3
Insira um numero (insira s para sair): 4
Insira um numero (insira s para sair): 5
Insira um numero (insira s para sair): 6
Insira um numero (insira s para sair): 7
Insira um numero (insira s para sair): 8
Insira um numero (insira s para sair): 9
Insira um numero (insira s para sair): 10
Insira um numero (insira s para sair): s
10
6
2

Exercício 8 – Exibir a Partir do Meio

Objetivo:

Ler uma lista de números (com quantidade definida pelo usuário).

Exibir os números do meio ao primeiro e, depois, do meio ao último.

Se a lista for par, não há um único valor central.

Exemplo 1: (5 números)

Entrada:

8

3

7

0

2

Saída:

7

3

8

7

0

2

Exemplo 2: (6 números)

Entrada:

8

3

7

0

2

9

Saída:

7

3

8

0

2

9

In [25]:
nums = []

while True:
  x = int(input("Insira quantos numeros quer colocar: "))
  if(x) <= 0:
    print("insira um numero positivo diferente de zero")
    continue
  break
for i in range(x):
  nums.append(input(f"Insira o {i+1}º numero: "))

for i in range(x//2,x):
  print(nums[i])

Insira quantos numeros quer colocar: 5
Insira o 1º numero: 1
Insira o 2º numero: 2
Insira o 3º numero: 3
Insira o 4º numero: 4
Insira o 5º numero: 5
3
4
5

Exercício 9 – Filtrar Salários

Objetivo:

Ler uma lista de salários.

Exibir apenas os salários maiores ou iguais a R$1412,00.

Exemplo 1:

Entrada:

5

3500.0

1400.0

900.2

1900.2

899.0

Saída:

3500.0

1900.2

Exemplo 2:

Entrada:

7

3900.9

1500.2

3200.5

1411.9

1412.0

9000.0

1699.0

Saída:

3900.9

1500.2

3200.5

1412.0

9000.0

1699.0

In [26]:
nums = []
while True:
  x = input("Insira um numero (não insira uma letra para sair): ")
  if not(x.isnumeric()):
    break
  x = float(x)
  if x>=1412:
    nums.append(x)

for n in nums:
  print(n)

Insira um numero (insira s para sair): 154
Insira um numero (insira s para sair): 251
Insira um numero (insira s para sair): 5533
Insira um numero (insira s para sair): 1235
Insira um numero (insira s para sair): 1534
Insira um numero (insira s para sair): 13548
Insira um numero (insira s para sair): s
5533.0
1534.0
13548.0

Exercício 10 – Notas dos Alunos (Separar Aprovação)

Objetivo:

Ler uma lista de notas.

Exibir primeiro as notas que alcançaram a média (≥ 7.0) e depois as que não

alcançaram.

Exemplo:

Entrada:

10

9.0

7.0

7.5

6.5

8.0

5.9

7.2

6.9

10

8.5

Saída:

Notas com média: 9.0, 7.0, 7.5, 8.0, 7.2, 10, 8.5

Notas sem média: 6.5, 5.9, 6.9

In [45]:
c_media = []
s_media = []

q = 0

while True:
  q = int(input("Insira quantas notas quer calcular: "))
  if q <= 0:
    print("Insira um numero maior que zero")

  else:
    break
y = 0
while y <q:
  x = input("Insira uma nota entre 0 e 10 (insira uma letra para sair): ")
  if not(x.isnumeric()):
    print("Valor invalido")
    continue
  x = float(x)
  if x<=10 and x>=0:
    if x >=7:
      c_media.append(x)
      y+=1
    else:
      s_media.append(x)
      y+=1
  else:
    print("Numero invalido")

for i in range(len(c_media)):
  c_media[i] = str(c_media[i]).replace('.',',')
for i in range(len(s_media)):
  s_media[i] = str(s_media[i]).replace('.',',')

print(f"Notas com media {' , '.join(c_media)}")
print(f"Notas sem media {' , '.join(s_media)}")

Insira quantas notas quer calcular: 10
Insira uma nota entre 0 e 10 (insira uma letra para sair): 5
Insira uma nota entre 0 e 10 (insira uma letra para sair): 9
Insira uma nota entre 0 e 10 (insira uma letra para sair): 15
Numero invalido
Insira uma nota entre 0 e 10 (insira uma letra para sair): 15
Numero invalido
Insira uma nota entre 0 e 10 (insira uma letra para sair): 5
Insira uma nota entre 0 e 10 (insira uma letra para sair): 1
Insira uma nota entre 0 e 10 (insira uma letra para sair): 2
Insira uma nota entre 0 e 10 (insira uma letra para sair): 9
Insira uma nota entre 0 e 10 (insira uma letra para sair): 7
Insira uma nota entre 0 e 10 (insira uma letra para sair): 8
Insira uma nota entre 0 e 10 (insira uma letra para sair): 9
Insira uma nota entre 0 e 10 (insira uma letra para sair): 8
Notas com media 9,0 , 9,0 , 7,0 , 8,0 , 9,0 , 8,0
Notas sem media 5,0 , 5,0 , 1,0 , 2,0

Exercício 11 – Soma de 12 Salários

Objetivo:

Ler uma lista de 12 salários.

Calcular e exibir a soma total dos salários.

Exemplo:

Entrada:

1900.0, 1850.0, 1900.0, 2100.0, 1900.0, 1800.0, 2000.0, 1900.0, 2100.0, 2200.0,
1800.0, 2300.0

Saída:

23750.0

In [39]:
soma = 0
l = []

for i in range(12):
  x = input(f"Insira o {i+1}º salario: ")

  if not(x.isnumeric()):
    print("Insira um numero")
    continue
  x = float(x)

  if x > 0:
    l.append(x)
  else:
    print("Precisa inserir um salario positivo")

for i in l:
  soma += i

print(f"A soma dos salarios é {soma}")

Insira o 1 salario: 1
Insira o 2 salario: 1
Insira o 3 salario: 1
Insira o 4 salario: 1
Insira o 5 salario: 1
Insira o 6 salario: 1
Insira o 7 salario: 1
Insira o 8 salario: 1
Insira o 9 salario:
Insira um numero
Insira o 10 salario: 1
Insira o 11 salario: 1
Insira o 12 salario: 1
A soma dos salarios é 11.0

Exercício 12 – Média de Notas

Objetivo:

Ler uma lista de notas.

Calcular e exibir a média de todas as notas.

Exemplo:

Entrada:

6

9.0

7.0

7.5

6.5

8.0

5.9

Saída:

7.316666666666667

In [ ]:
soma = 0
l = []

while True:
  x = input(f"Insira o {i+1}º salario, insira algo diferente de um numero para sair: ")

  if not(x.isnumeric()):
    break
  x = float(x)
  if x > 0:
    l.append(x)
  else:
    print("Precisa inserir um salario positivo")

for i in l:
  soma += i

print(f"A media das notas é {soma/len(l)}")

Exercício 13 – Contagem de Notas Acima e Abaixo da
Média

Objetivo:

Ler uma lista de notas.

Contar quantas notas alcançaram (≥ 7.0) e quantas não alcançaram a média.

Exemplo 1:

Entrada:

6

9.0, 7.0, 7.5, 6.5, 8.0, 5.9

Saída:

Alcançaram a média: 4

Não alcançaram a média: 2

Exemplo 2:

Entrada:

7

10, 9.5, 6.9, 7.0, 5.0, 6.5, 6.0

Saída:

Alcançaram a média: 3

Não alcançaram: 4

In [44]:
c_media = []
s_media = []


q = 0

while True:
  q = int(input("Insira quantas notas quer calcular: "))
  if q <= 0:
    print("Insira um numero maior que zero")

  else:
    break
y = 0
while y <q:
  x = input("Insira uma nota entre 0 e 10 (insira uma letra para sair): ")
  if not(x.isnumeric()):
    print("Valor invalido")
    continue
  x = float(x)
  if x<=10 and x>=0:
    if x >=7:
      c_media.append(x)
      y+=1
    else:
      s_media.append(x)
      y+=1
  else:
    print("Numero invalido")

for i in range(len(c_media)):
  c_media[i] = str(c_media[i]).replace('.',',')
for i in range(len(s_media)):
  s_media[i] = str(s_media[i]).replace('.',',')

print(f"Notas com media {len(c_media)}")
print(f"Notas sem media {len(s_media)}")

Insira quantas notas quer calcular: 8
Insira uma nota entre 0 e 10 (insira uma letra para sair): 4
Insira uma nota entre 0 e 10 (insira uma letra para sair): 9
Insira uma nota entre 0 e 10 (insira uma letra para sair): 51
Numero invalido
Insira uma nota entre 0 e 10 (insira uma letra para sair): 0
Insira uma nota entre 0 e 10 (insira uma letra para sair): 5
Insira uma nota entre 0 e 10 (insira uma letra para sair): 6
Insira uma nota entre 0 e 10 (insira uma letra para sair): 8
Insira uma nota entre 0 e 10 (insira uma letra para sair): 9
Insira uma nota entre 0 e 10 (insira uma letra para sair): 7
Notas com media 4
Notas sem media 4

Exercício 14 – Classificação de Idades
Objetivo:
Ler uma lista de idades.

Contar quantas idades são de:

Crianças (até 11 anos)

Adolescentes (12 a 17 anos)

Adultos (18 anos ou mais)



Exemplo:

Entrada:

10

45, 17, 34, 21, 15, 4, 11, 29, 12, 21

Saída:

Crianças: 2

Adolescentes: 3

Adultos: 5

In [54]:
crian = []
adole = []
adult = []


q = 0

while True:
  x = input("Insira uma idade entre 0 e 100 (insira uma letra para sair): ")
  if not(x.isnumeric()):
    break
  x = int(x)
  if x<=100 and x>=0:
    if x <12:
      crian.append(x)
    elif x < 18:
      adole.append(x)
    else:
      adult.append(x)

  else:
    print("Numero invalido")

print(f"Crianças {len(crian)}")
print(f"Adolescentes {len(adole)}")
print(f"Adultos {len(adult)}")

Insira uma idade entre 0 e 100 (insira uma letra para sair): 12
Insira uma idade entre 0 e 100 (insira uma letra para sair): 53
Insira uma idade entre 0 e 100 (insira uma letra para sair): 62
Insira uma idade entre 0 e 100 (insira uma letra para sair): 843
Numero invalido
Insira uma idade entre 0 e 100 (insira uma letra para sair): 51
Insira uma idade entre 0 e 100 (insira uma letra para sair): 62
Insira uma idade entre 0 e 100 (insira uma letra para sair): 12
Insira uma idade entre 0 e 100 (insira uma letra para sair): 12
Insira uma idade entre 0 e 100 (insira uma letra para sair): 12
Insira uma idade entre 0 e 100 (insira uma letra para sair): 16
Insira uma idade entre 0 e 100 (insira uma letra para sair): 16
Insira uma idade entre 0 e 100 (insira uma letra para sair): 16
Insira uma idade entre 0 e 100 (insira uma letra para sair):
Crianças 4
Adolescentes 3
Adultos 4